.add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: teal;
    padding: 3rem;
    border-radius: 8px;
    width: 50%;
    margin-left: 25%;
}

.add h4 {
    color: white;
    font-weight: bold;
}

.add label {
    color: white;
    font-size: 1.1rem;
}

hr {
    color: white;
}
